@media screen and (max-width: 750px) {
.main_header{
    .main_header_nav{
        .main_header_nav_content{
            .topnav{
                width: 100%;
                .main_header_nav_logo{
                    width: 100%;
                }
                #myLinks{
                    width: 100%;
                    display: none;
                    ul{
                        display: block;
                        li{
                            display: block;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
                .icon{
                    display: block;
                    width: 100%;
                    position: relative;
                    text-align: center;
                }
            }
        }
    }
}


}